body {
    background-color: aqua;
}

.game-container {
    border: 1px solid black;
    padding: 5px;
}

.game-window {
    border: 2px dotted blue;
    padding: 5px;
}

.display-box {
    border: 1px solid black;
}

.verb-button {
    margin: 2px;
}