body {
    background-color: #7d1538;
}

h2 {
    color: #7FB7BE;
}

p {
    color: #7FB7BE;
}

.game-container {
    border: 1px solid black;
    padding: 5px;
    background-color: #563440;
}

.game-window {
    border: 2px solid black;
    padding: 5px;
    background-color: #BC2C1A;
    color: #D3F3EE
}

.display-box {
    border: 1px solid black;
    background-color: #DACC3E;
}
.display-box p {
    color: #7A3B69;
    font-size: 110%;
    vertical-align: middle;
}

.verb-button {
    margin: 2px;
}

.inv-button {
    margin: 2px;
}