body {
    background-color: #7d1538;
}

h2 {
    color: #7FB7BE;
}

p {
    color: #D3F3EE;
}

.game-container {
    border: 1px solid black;
    padding: 5px;
}

.game-window {
    border: 2px dotted blue;
    padding: 5px;
    background-color: #BC2C1A;
    color: #D3F3EE
}

.display-box {
    border: 1px solid black;
    background-color: #DACC3E;
    color: #7A3B69;
}

.verb-button {
    margin: 2px;
}